[submodule "Rhombus/vendor/spdlog"]
	path = Rhombus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Rhombus/vendor/imgui"]
	path = Rhombus/vendor/imgui
	url = https://github.com/RawbPower/imgui
[submodule "Rhombus/vendor/glm"]
	path = Rhombus/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Rhombus/vendor/SDL"]
	path = Rhombus/vendor/SDL
	url = https://github.com/RawbPower/SDL
[submodule "Rhombus/vendor/yaml-cpp"]
	path = Rhombus/vendor/yaml-cpp
	url = https://github.com/RawbPower/yaml-cpp
