# Binaries
**/bin/
!vendor/bin/premake/
bin-int/

# Rhombus files
*.log

# Files
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.bak
Sandbox/RhombusProfile-Runtime.json
Sandbox/RhombusProfile-Startup.json
